<section class="seccion-about">
    <div class="contenedor">

        <div class="grid-about">
            <div class="imagen-area">
                <div class="circulo-decorativo">
                    <img src="assets/fotoTraje.png" alt="Antonio" onerror="this.src='https://via.placeholder.com/300'">
                </div>
            </div>

            <div class="texto-area">
                <h2 class="titulo-seccion">{{ 'ABOUT.TITLE' | translate }}</h2>
                <div class="linea-decorativa"></div>
                <p class="descripcion">
                    {{ 'ABOUT.DESCRIPTION' | translate }}
                </p>

                <ul class="datos-lista">
                    <li><strong>{{ 'ABOUT.LOCATION_LABEL' | translate }}:</strong> {{ 'ABOUT.LOCATION_VALUE' | translate
                        }}</li>
                    <li><strong>{{ 'ABOUT.SPECIALTY_LABEL' | translate }}:</strong> {{ 'ABOUT.SPECIALTY_VALUE' |
                        translate }}</li>
                    <li><strong>{{ 'ABOUT.INTERESTS_LABEL' | translate }}:</strong> {{ 'ABOUT.INTERESTS_VALUE' |
                        translate }}</li>
                </ul>
            </div>
        </div>

    </div>
</section>